/* # Google font import # */
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
/* FontSpace font import # */
@font-face {
    font-family: Spice Rice;
    src: url(fonts/SpicyRice-23Mo.ttf), format("trutype");
}

/* Basic Styling
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
*/

body {
    background-color: rgb(25,25,25);
    color: white;
    margin: 0;
    font-size: 20px;
}



/* ### Header Section Styling ### */
header {
    width: 1390px;
    max-width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    z-index: 100;
}

header nav a {
    font-family: 'Galada';
    text-decoration: none;
    color: white;
    margin-right: 40px;
}

header nav a:hover {
    color: gold;
}



/* ### Carousel Section Styling ### */
.carousel {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: -50px;
    position: relative;
}

.carousel .list .item {
    position: absolute;
    inset: 0 0 0 0;
    width: 100%;
    height: 100%;
}

.carousel .list .item .background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .list .item .content {
    position: absolute;
    top: 20%;
    width: 1240px;
    max-width: 80%;
    left: 40%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: white;
    text-shadow: 0 5px 10px #0004;
}

.carousel .list #band .content {
    top: 10%;
}

.carousel .list .item .content .content-overlay {
    display: flex;
    position: absolute;
    align-items: center;
    background-color: black;
    opacity: 0.5;
    filter: blur(45px);
    height: 105%;
    width: 65%;
    border-radius: 100px;
}

.carousel .list .item .content-logo {
    height: 375px;
    opacity: 1;
}

.carousel .list #band .content-logo {
    height: 525px;
}

.carousel .list .item .descr {
    font-size: 45px;
    line-height: 1em;
    font-family: Spice Rice;
    background-image: linear-gradient(to top, gold 0%, goldenrod 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-left: 15%;
}

.carousel .list #band .descr {
    margin-top: -25px;
}

.carousel .list #oak-tree .descr {
    margin-top: 15px;
    height: 50px;
}

.carousel .list .item .buttons {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: 50px;
    gap: 5px;
    margin-top: 30px;
    margin-left: 15%;
}

.carousel .list .item button {
    border: none;
    border-radius: 6px;
    padding: 8px 2px;
    cursor: pointer;
    font-family: Spice Rice;
    font-size: 18px;
    transition: all 0.3s ease;
    border: 2px solid white;
    color: white;
    background: none;
}

.carousel .list .item button:hover {
    color: black;
    background-image: linear-gradient(to top, gold 0%, goldenrod 70%);
    border: 2px solid goldenrod;
}



/* ### Thumbnails Styling ### */
.thumbnail {
    position: absolute;
    bottom: 50px;
    left: 55%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 40px;
}

.thumbnail .item {
    width: 200px;
    height: 300px;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease;
}

.thumbnail .item:hover {
    margin-top: -10px;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    opacity: 1;
}

.thumbnail .item .content {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.thumbnail .item .content .title {
    font-family: Spice Rice;
}



/* ### Arrows Styling ### */
.arrows {
    position: absolute;
    top: 85%;
    right: 43%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    font-family: monospace;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.5s;
    z-index: 100;
}

.arrows button:hover {
    background-color: #eee;
    color: #555;
}


/* ## Animations ## */
.carousel .list .item:nth-child(1) {
    z-index: 1;
}

/* # Animation for first item content # */
.carousel .list .item:nth-child(1) .content-logo,
.carousel .list .item:nth-child(1) .descr,
.carousel .list .item:nth-child(1) .buttons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards!important;
}
@keyframes showContent {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}
.carousel .list .item:nth-child(1) .content-overlay {
    transform: translateY(50px);
    filter: blur(45px);
    opacity: 0;
    animation: showOverlay 0.5s 1s linear 1 forwards!important;
}
@keyframes showOverlay {
    to {
        opacity: 0.5;
        filter: blur(45px);
    }
}

.carousel .list .item:nth-child(1) .content-overlay {
    animation-delay: 1.2s!important;
}
.carousel .list .item:nth-child(1) .content-logo {
    animation-delay: 1.4s!important;
}
.carousel .list .item:nth-child(1) .descr {
    animation-delay: 1.6s!important;
}
.carousel .list .item:nth-child(1) .buttons {
    animation-delay: 1.8s!important;
}



/* Next Click Effect */
.carousel.next .list .item:nth-child(1) .background {
    width: 200px;
    height: 300px;
    position: absolute;
    left: 55%;
    bottom: 50px;
    border-radius: 30px;
    animation: showImage 0.5s linear 1 forwards;
}
@keyframes showImage {
    to {
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item:nth-last-child(1) {
    overflow: hidden;
    animation: showThumbnail 0.5s linear 1 forwards;
}
.carousel.prev .list .item img {
    z-index: 100;
}
@keyframes showThumbnail {
    from {
        width: 0;
        opacity: 0;
    }
}


.carousel.next .thumbnail {
    animation: effectNext 0.5s linear 1 forwards;
}
@keyframes effectNext {
    from {
        transform: translateX(150px);
    }
}


/* Running Time Animation */
.carousel .time{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: goldenrod;
    left: 0;
    top: 0;
}

.carousel.next .time,
.carousel.prev .time {
    animation: runningTime 3s linear 1 forwards;

}
@keyframes runningTime {
    from { width: 100% }
    to { width: 0 }
}


/* Previous Click Effect */
.carousel.prev .list .item:nth-child(2) {
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) .background {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outFrame 0.5s linear 1 forwards;
}
@keyframes outFrame {
    to {
        width: 200px;
        height: 300px;
        border-radius: 20px;
        left: 55%;
        bottom: 50px;
    }
}

.carousel.prev .thumbnail .item:nth-child(1) {
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail 0.5s linear 1 forwards;
}

.carousel.next .arrows button,
.carousel.prev .arrows button {
    pointer-events: none;
}

.carousel .list .item:nth-child(2) .content-overlay,
.carousel .list .item:nth-child(2) .content-logo,
.carousel .list .item:nth-child(2) .descr,
.carousel .list .item:nth-child(2) .buttons {
    animation: contentOut 1.5s linear 1 forwards!important;
}
@keyframes contentOut {
    to {
        transform: translateY(-150px);
        filter: blur(30px);
        opacity: 0;
    }
}



/* ### Responsiveness ### */
@media screen and (max-width: 678px) {
    .carousel .list .item .content {
        padding-right: 0;
    }

    .carousel .list .item .content .background {
        height: 50%;
        width: 50%;
    }

    .carousel .list .item .content .descr {
        font-size: 30px;
    }
}

@media screen and (max-width: 480px) {
    @keyframes outFrame {
        to {
            height: 0px;
            width: 0px;
            border-radius: 20px;
            left: 90%;
            bottom: 50px;
        }
    }

    .arrows {
        position: absolute;
        top: 90%;
        right: 29.5%;
    }

    .thumbnail {
        left: -200%
    }

    .carousel .list #band .content {
        left: 35%;
    }

    .carousel .list #venue .content {
        top: 25%;
    }

    .carousel .list #venue .content-logo {
        height: 225px;
    }

    .carousel .list #oak-tree .content {
        top: 25%;
    }

    .carousel .list #oak-tree .content-logo {
        height: 300px;
    }
}